{% extends "import.html" %} {% block content %}
<style>
  .container {
    font-size: 20px; /* Larger font size */
    font-weight: bold;
    color: #000; /* Black text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
</style>
<main>
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="text-center mb-4">Contributor</h2>
          <ol class="lead">
            <li>Rohan Sharma-21BOE10007</li>
            <li>Harsh Uttamchandani-21BCE10189</li>
            <li>Atul Yadav-21BCE10193</li>
            <li>Pushpendra Kushwaha-21BCE10198</li>
            <li>Pavitra Gandhi-21BCE10215</li>
            <li>Siddhant Gupta-21BCE10237</li>
            <li>Kalapee Dutta-21BCE10322</li>
            <li>Jishnu Chowdhury-21BAI10055</li>
            <li>Suraj Kumar-21BCY10223</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
